<div class="collection-mobile-back" (click)="mobileFilterBack()">
  <span class="filter-back">
    <i class="fa fa-angle-left" aria-hidden="true"></i> back
  </span>
</div>
<div class="collection-collapse-block border-0 open">
  <h3 class="collapse-block-title">AWS</h3>
  <div class="collection-collapse-block-content">
    <div class="collection-brand-filter">
      <ul class="category-list">
        <!-- <li><a [routerLink]="'/home/category/1'">Featured</a></li>
        <li><a [routerLink]="'/home/category/2'">Compute</a></li>
        <li><a [routerLink]="'/home/category/3'">Networking</a></li>
        <li><a [routerLink]="'/home/category/4'">Storage</a></li>
        <li><a [routerLink]="'/home/category/5'">Web</a></li>
        <li><a [routerLink]="'/home/category/6'">Mobile</a></li>
        <li><a [routerLink]="'/home/category/7'">Containers</a></li>
        <li><a [routerLink]="'/home/category/8'">Databases</a></li>
        <li><a [routerLink]="'/home/category/9'">Analytics</a></li>
        <li><a [routerLink]="'/home/category/10'">AI + Machine Learning</a></li>
        <li><a [routerLink]="'/home/category/11'">Internet of Things</a></li>
        <li><a [routerLink]="'/home/category/12'">Integration</a></li>
        <li><a [routerLink]="'/home/category/13'">Identity</a></li>
        <li><a [routerLink]="'/home/category/14'">Security</a></li>
        <li><a [routerLink]="'/home/category/15'">Developer Tools</a></li>
        <li><a [routerLink]="'/home/category/16'">DevOps</a></li>
        <li><a [routerLink]="'/home/category/17'">Management and Governance</a></li>
        <li><a [routerLink]="'/home/category/18'">Media</a></li>
        <li><a [routerLink]="'/home/category/19'">Migration</a></li>
        <li><a [routerLink]="'/home/category/20'">Mixed Reality</a></li>
        <li><a [routerLink]="'/home/category/21'">Block Chain</a></li>
        <li><a [routerLink]="'/home/category/22'">Hybrid</a></li> -->
        <li><a [routerLink]="'/home/category/10'">Compute</a></li>
        <li><a [routerLink]="'/home/category/11'">Networking</a></li>
        <li><a [routerLink]="'/home/category/12'">Storage</a></li>
        <li><a [routerLink]="'/home/category/13'">Containers</a></li>
        <li><a [routerLink]="'/home/category/14'">Management and Governance</a></li>
        <li><a [routerLink]="'/home/category/15'">Security , Identity & Compliance</a></li>
        <li><a [routerLink]="'/home/category/16'">Analytics</a></li>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="collection-collapse-block border-0 open">
  <h3 class="collapse-block-title">Azure</h3>
  <div class="collection-collapse-block-content">
    <div class="collection-brand-filter">
      <ul class="category-list">
        <li><a [routerLink]="'/home/category/1'">Compute</a></li>
        <li><a [routerLink]="'/home/category/2'">Networking</a></li>
        <li><a [routerLink]="'/home/category/3'">Storage</a></li>
        <li><a [routerLink]="'/home/category/4'">Containers</a></li>
        <li><a [routerLink]="'/home/category/5'">Databases</a></li>
        <li><a [routerLink]="'/home/category/6'">Analytics</a></li>
        <li><a [routerLink]="'/home/category/7'">Identity</a></li>
        <li><a [routerLink]="'/home/category/8'">Security</a></li>
        <li><a [routerLink]="'/home/category/9'">Management and Governance</a></li>
      </ul>
    </div>
  </div>
</div>