<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>product</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/home/one'">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">products</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="section-b-space">
  <div class="collection-wrapper">
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-3 collection-filter">
          <product-details-sidebar></product-details-sidebar>
        </div>
        <div class="col-lg-9 col-sm-12 col-xs-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-12">
                <div class="filter-main-btn mb-2">
                  <span class="filter-btn" (click)="mobileSidebar()"><i class="fa fa-bars" aria-hidden="true"></i>
                    sidebar</span>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- <div class="col-lg-6">
                <ngx-slick-carousel class="product-slick" id="p-zoom" #slickModal="slick-carousel" [config]="slideConfig">
                  <div ngxSlickItem *ngFor="let image of product.pictures">
                    <div>
                      <ngx-img-zoom [previewImageSrc]="image"  [zoomImageSrc]="image" [imgStyle]="'width:100%; height:100%;'"
                       [resultStyle]="'background-repeat: no-repeat; z-index: 2; position:absolute;background-size: 1614px 2064px;
                       -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); top: 0;left: 100%;'" [lensStyle]="'width:100px; height:100px'" [containerStyle]="'position: relative;'" (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
                      </ngx-img-zoom>
                    </div>
                  </div>
                </ngx-slick-carousel>
                <div class="row">
                  <div class="col-12 p-0">
                    <ngx-slick-carousel class="slider-nav" #slickModal="slick-carousel" [config]="slideNavConfig">
                      <div ngxSlickItem *ngFor="let image of product.pictures">
                        <div>
                          <img [src]="image" alt="" class="img-fluid">
                         </div>
                        </div>
                    </ngx-slick-carousel>
                  </div>
                </div>
              </div> -->
              <div class="col-lg-12 rtl-text">
                <div class="product-right">
                  <h2>{{product.name}}</h2>
                  <!-- <h4 *ngIf="!productsService?.catalogMode"><del>{{product.salePrice | currency:productsService?.currency:'symbol'}}</del><span>{{product.discount}}% off</span></h4>
                  <h3 *ngIf="!productsService?.catalogMode">{{product.price | currency:productsService?.currency:'symbol'}}</h3> -->
                  <!-- <ul class="color-variant" *ngIf="product.variants && !productsService?.catalogMode">
                    <li [class]="variant.color" (click)="slickModal.slickGoTo(i)" *ngFor="let variant of product.variants let i = index"></li>
                  </ul> -->
                  <!-- <div class="pro_inventory" *ngIf="product.stock != 0 && product.stock <= 5 && !productsService?.catalogMode">
                    <p class="active">
                      Hurry! We have only {{product.stock}} product in stock.
                    </p>
                    <div class="inventory-scroll nostripes active">
                      <span style="width: 95%;"></span>
                    </div>
                  </div> -->
                  <div class="product-description border-product" *ngIf="!productsService?.catalogMode">
                    <!-- <h6 class="product-title size-text" *ngIf="product.size">
                        select size
                        <span><a href="">size chart</a></span>
                    </h6>
                    <div class="size-box" *ngIf="product.size">
                      <ul>
                        <li [ngClass]="{'active': selectedSize == size}" *ngFor="let size of product.size">
                          <a [routerLink]="" (click)="changeSizeVariant(size)">{{size}}</a>
                        </li>
                      </ul>
                    </div> -->
                    <!-- <h5 class="avalibility" *ngIf="counter <= product.stock"><span>In Stock</span></h5>
                    <h5 class="avalibility" *ngIf="counter > product.stock"><span>Out of Stock</span></h5> -->
                    <!-- <h6 class="product-title">quantity</h6>
                    <div class="qty-box">
                      <div class="input-group">
                        <span class="input-group-prepend">
                          <button type="button" (click)="decrement()" class="btn quantity-left-minus" data-type="minus"
                            data-field="">
                            <i class="ti-angle-left"></i>
                          </button>
                        </span>
                        <input type="text" name="quantity" disabled class="form-control input-number"
                          value="{{counter}}">
                        <span class="input-group-prepend">
                          <button type="button" (click)="increment()" class="btn quantity-right-plus" data-type="plus"
                            data-field="">
                            <i class="ti-angle-right"></i>
                          </button>
                        </span>
                      </div>
                    </div> -->
                    <div class="row" style="margin-top:5px;">
                      <div class="search-box col-md-4">
                        <label>Region</label>
                        <select name="model" class="form-control">
                          <option value="">Select Region</option>
                          <option value="asia-pacific-east">East Asia</option>
                          <option value="asia-pacific-southeast">Southeast Asia</option>
                          <option value="australia-central">Australia Central</option>
                          <option value="australia-central-2">Australia Central 2</option>
                          <option value="australia-east">Australia East</option>
                          <option value="australia-southeast">Australia Southeast</option>
                          <option value="brazil-south">Brazil South</option>
                          <option value="canada-central">Canada Central</option>
                          <option value="canada-east">Canada East</option>
                          <option value="central-india">Central India</option>
                          <option value="south-india">South India</option>
                          <option value="west-india">West India</option>
                          <option value="europe-north">North Europe</option>
                          <option value="europe-west">West Europe</option>
                          <option value="france-central">France Central</option>
                          <option value="france-south">France South</option>
                          <option value="germany-central">Germany Central (Sovereign)</option>
                          <option value="germany-north">Germany North (Public)</option>
                          <option value="germany-northeast">Germany Northeast (Sovereign)</option>
                          <option value="germany-west-central">Germany West Central (Public)</option>
                          <option value="japan-east">Japan East</option>
                          <option value="japan-west">Japan West</option>
                          <option value="korea-central">Korea Central</option>
                          <option value="korea-south">Korea South</option>
                          <option value="norway-east">Norway East</option>
                          <option value="norway-west">Norway West</option>
                          <option value="south-africa-north">South Africa North</option>
                          <option value="south-africa-west">South Africa West</option>
                          <option value="switzerland-north">Switzerland North</option>
                          <option value="switzerland-west">Switzerland West</option>
                          <option value="uae-central">UAE Central</option>
                          <option value="uae-north">UAE North</option>
                          <option value="united-kingdom-south">UK South</option>
                          <option value="united-kingdom-west">UK West</option>
                          <option value="us-central">Central US</option>
                          <option value="us-east">East US</option>
                          <option value="us-east-2">East US 2</option>
                          <option value="us-north-central">North Central US</option>
                          <option value="us-south-central">South Central US</option>
                          <option value="us-west-central">West Central US</option>
                          <option value="us-west">West US</option>
                          <option value="us-west-2">West US 2</option>
                          <option value="usgov-arizona">US Gov Arizona</option>
                          <option value="usgov-iowa">US Gov Iowa</option>
                          <option value="usgov-texas">US Gov Texas</option>
                          <option value="usgov-virginia">US Gov Virginia</option>
                        </select>
                      </div>
                      <div class="search-box col-md-4">
                        <label>Operating System</label>
                        <select name="model" class="form-control">
                          <option value="">Linux</option>
                          <option value="asia-pacific-east">Windows</option>
                        </select>
                      </div>
                      <div class="search-box col-md-4">
                        <label>Type</label>
                        <select name="model" class="form-control">
                          <option value="">(Os Only)</option>
                          <option value="asia-pacific-east">Biztalk</option>
                          <option value="asia-pacific-east">SQL Server</option>
                        </select>
                      </div>
                      <div class="search-box col-md-8">
                        <label>Instance</label>
                        <select name="model" class="form-control">
                          <option value="a0">A0: 1 Cores(s), 0.75 GB RAM, 20 GB Temporary storage, $0.02/hour</option>
                          <option value="a1">A1: 1 Cores(s), 1.75 GB RAM, 70 GB Temporary storage, $0.09/hour</option>
                          <option value="a2">A2: 2 Cores(s), 3.5 GB RAM, 135 GB Temporary storage, $0.18/hour</option>
                          <option value="a3">A3: 4 Cores(s), 7 GB RAM, 285 GB Temporary storage, $0.36/hour</option>
                          <option value="a4">A4: 8 Cores(s), 14 GB RAM, 605 GB Temporary storage, $0.72/hour</option>
                          <option value="a5">A5: 2 Cores(s), 14 GB RAM, 135 GB Temporary storage, $0.33/hour</option>
                          <option value="a6">A6: 4 Cores(s), 28 GB RAM, 285 GB Temporary storage, $0.66/hour</option>
                          <option value="a7">A7: 8 Cores(s), 56 GB RAM, 605 GB Temporary storage, $1.32/hour</option>
                          <option value="a8">A8: 8 Cores(s), 56 GB RAM, 382 GB Temporary storage, $1.466/hour</option>
                          <option value="a9">A9: 16 Cores(s), 112 GB RAM, 382 GB Temporary storage, $2.933/hour</option>
                          <option value="a10">A10: 8 Cores(s), 56 GB RAM, 382 GB Temporary storage, $1.173/hour</option>
                          <option value="a11">A11: 16 Cores(s), 112 GB RAM, 382 GB Temporary storage, $2.346/hour
                          </option>
                          <option value="b1s">B1S: 1 vCPU(s), 1 GB RAM, 4 GB Temporary storage, $0.0164/hour</option>
                          <option value="b2s">B2S: 2 vCPU(s), 4 GB RAM, 8 GB Temporary storage, $0.0576/hour</option>
                          <option value="b1ms">B1MS: 1 vCPU(s), 2 GB RAM, 4 GB Temporary storage, $0.0288/hour</option>
                          <option value="b2ms">B2MS: 2 vCPU(s), 8 GB RAM, 16 GB Temporary storage, $0.107/hour</option>
                          <option value="b4ms">B4MS: 4 vCPU(s), 16 GB RAM, 32 GB Temporary storage, $0.214/hour</option>
                          <option value="b8ms">B8MS: 8 vCPU(s), 32 GB RAM, 64 GB Temporary storage, $0.429/hour</option>
                          <option value="b12ms">B12MS: 12 vCPU(s), 48 GB RAM, 96 GB Temporary storage, $0.643/hour
                          </option>
                          <option value="b16ms">B16MS: 16 vCPU(s), 64 GB RAM, 128 GB Temporary storage, $0.858/hour
                          </option>
                          <option value="b20ms">B20MS: 20 vCPU(s), 80 GB RAM, 160 GB Temporary storage, $1.072/hour
                          </option>
                          <option value="a1v2">A1 v2: 1 vCPU(s), 2 GB RAM, 10 GB Temporary storage, $0.065/hour</option>
                          <option value="a2v2">A2 v2: 2 vCPU(s), 4 GB RAM, 20 GB Temporary storage, $0.136/hour</option>
                          <option value="a4v2">A4 v2: 4 vCPU(s), 8 GB RAM, 40 GB Temporary storage, $0.286/hour</option>
                          <option value="a8v2">A8 v2: 8 vCPU(s), 16 GB RAM, 80 GB Temporary storage, $0.6/hour</option>
                          <option value="a2mv2">A2m v2: 2 vCPU(s), 16 GB RAM, 20 GB Temporary storage, $0.225/hour
                          </option>
                          <option value="a4mv2">A4m v2: 4 vCPU(s), 32 GB RAM, 40 GB Temporary storage, $0.45/hour
                          </option>
                          <option value="a8mv2">A8m v2: 8 vCPU(s), 64 GB RAM, 80 GB Temporary storage, $0.9/hour
                          </option>
                          <option value="d1">D1: 1 Cores(s), 3.5 GB RAM, 50 GB Temporary storage, $0.14/hour</option>
                          <option value="d2">D2: 2 Cores(s), 7 GB RAM, 100 GB Temporary storage, $0.28/hour</option>
                          <option value="d3">D3: 4 Cores(s), 14 GB RAM, 200 GB Temporary storage, $0.56/hour</option>
                          <option value="d4">D4: 8 Cores(s), 28 GB RAM, 400 GB Temporary storage, $1.12/hour</option>
                          <option value="d11">D11: 2 Cores(s), 14 GB RAM, 100 GB Temporary storage, $0.264/hour</option>
                          <option value="d12">D12: 4 Cores(s), 28 GB RAM, 200 GB Temporary storage, $0.528/hour</option>
                          <option value="d13">D13: 8 Cores(s), 56 GB RAM, 400 GB Temporary storage, $1.056/hour</option>
                          <option value="d14">D14: 16 Cores(s), 112 GB RAM, 800 GB Temporary storage, $2.111/hour
                          </option>
                          <option value="d1s">D1s: 1 Cores(s), 3.5 GB RAM, 7 GB Temporary storage, $0.14/hour</option>
                          <option value="d2s">D2s: 2 Cores(s), 7 GB RAM, 14 GB Temporary storage, $0.28/hour</option>
                          <option value="d3s">D3s: 4 Cores(s), 14 GB RAM, 28 GB Temporary storage, $0.56/hour</option>
                          <option value="d4s">D4s: 8 Cores(s), 28 GB RAM, 56 GB Temporary storage, $1.12/hour</option>
                          <option value="d11s">D11s: 2 Cores(s), 14 GB RAM, 28 GB Temporary storage, $0.264/hour
                          </option>
                          <option value="d12s">D12s: 4 Cores(s), 28 GB RAM, 56 GB Temporary storage, $0.528/hour
                          </option>
                          <option value="d13s">D13s: 8 Cores(s), 56 GB RAM, 112 GB Temporary storage, $1.056/hour
                          </option>
                          <option value="d14s">D14s: 16 Cores(s), 112 GB RAM, 224 GB Temporary storage, $2.111/hour
                          </option>
                          <option value="d1v2">D1 v2: 1 vCPU(s), 3.5 GB RAM, 50 GB Temporary storage, $0.126/hour
                          </option>
                          <option value="d2v2">D2 v2: 2 vCPU(s), 7 GB RAM, 100 GB Temporary storage, $0.252/hour
                          </option>
                          <option value="d3v2">D3 v2: 4 vCPU(s), 14 GB RAM, 200 GB Temporary storage, $0.504/hour
                          </option>
                          <option value="d4v2">D4 v2: 8 vCPU(s), 28 GB RAM, 400 GB Temporary storage, $1.008/hour
                          </option>
                          <option value="d5v2">D5 v2: 16 vCPU(s), 56 GB RAM, 800 GB Temporary storage, $2.016/hour
                          </option>
                          <option value="d11v2">D11 v2: 2 vCPU(s), 14 GB RAM, 100 GB Temporary storage, $0.264/hour
                          </option>
                          <option value="d12v2">D12 v2: 4 vCPU(s), 28 GB RAM, 200 GB Temporary storage, $0.528/hour
                          </option>
                          <option value="d13v2">D13 v2: 8 vCPU(s), 56 GB RAM, 400 GB Temporary storage, $1.056/hour
                          </option>
                          <option value="d14v2">D14 v2: 16 vCPU(s), 112 GB RAM, 800 GB Temporary storage, $2.111/hour
                          </option>
                          <option value="d15v2">D15 v2: 20 vCPU(s), 140 GB RAM, 1000 GB Temporary storage, $2.639/hour
                          </option>
                          <option value="d15iv2">D15i v2: 20 vCPU(s), 140 GB RAM, 1000 GB Temporary storage, $2.639/hour
                          </option>
                          <option value="ds1v2">DS1 v2: 1 vCPU(s), 3.5 GB RAM, 7 GB Temporary storage, $0.126/hour
                          </option>
                          <option value="ds2v2">DS2 v2: 2 vCPU(s), 7 GB RAM, 14 GB Temporary storage, $0.252/hour
                          </option>
                          <option value="ds3v2">DS3 v2: 4 vCPU(s), 14 GB RAM, 28 GB Temporary storage, $0.504/hour
                          </option>
                          <option value="ds4v2">DS4 v2: 8 vCPU(s), 28 GB RAM, 56 GB Temporary storage, $1.008/hour
                          </option>
                          <option value="ds5v2">DS5 v2: 16 vCPU(s), 56 GB RAM, 112 GB Temporary storage, $2.016/hour
                          </option>
                          <option value="ds11-1-v2">DS11-1 v2: 1 vCPU(s), 14 GB RAM, 28 GB Temporary storage,
                            $0.264/hour</option>
                          <option value="ds11v2">DS11 v2: 2 vCPU(s), 14 GB RAM, 28 GB Temporary storage, $0.264/hour
                          </option>
                          <option value="ds12-1-v2">DS12-1 v2: 1 vCPU(s), 28 GB RAM, 56 GB Temporary storage,
                            $0.528/hour</option>
                          <option value="ds12-2-v2">DS12-2 v2: 2 vCPU(s), 28 GB RAM, 56 GB Temporary storage,
                            $0.528/hour</option>
                          <option value="ds12v2">DS12 v2: 4 vCPU(s), 28 GB RAM, 56 GB Temporary storage, $0.528/hour
                          </option>
                          <option value="ds13-2-v2">DS13-2 v2: 2 vCPU(s), 56 GB RAM, 112 GB Temporary storage,
                            $1.056/hour</option>
                          <option value="ds13-4-v2">DS13-4 v2: 4 vCPU(s), 56 GB RAM, 112 GB Temporary storage,
                            $1.056/hour</option>
                          <option value="ds13v2">DS13 v2: 8 vCPU(s), 56 GB RAM, 112 GB Temporary storage, $1.056/hour
                          </option>
                          <option value="ds14-4-v2">DS14-4 v2: 4 vCPU(s), 112 GB RAM, 224 GB Temporary storage,
                            $2.111/hour</option>
                          <option value="ds14-8-v2">DS14-8 v2: 8 vCPU(s), 112 GB RAM, 224 GB Temporary storage,
                            $2.111/hour</option>
                          <option value="ds14v2">DS14 v2: 16 vCPU(s), 112 GB RAM, 224 GB Temporary storage, $2.111/hour
                          </option>
                          <option value="ds15v2">DS15 v2: 20 vCPU(s), 140 GB RAM, 280 GB Temporary storage, $2.639/hour
                          </option>
                          <option value="ds15iv2">DS15i v2: 20 vCPU(s), 140 GB RAM, 280 GB Temporary storage,
                            $2.639/hour</option>
                          <option value="d2v3">D2 v3: 2 vCPU(s), 8 GB RAM, 50 GB Temporary storage, $0.209/hour</option>
                          <option value="d4v3">D4 v3: 4 vCPU(s), 16 GB RAM, 100 GB Temporary storage, $0.418/hour
                          </option>
                          <option value="d8v3">D8 v3: 8 vCPU(s), 32 GB RAM, 200 GB Temporary storage, $0.836/hour
                          </option>
                          <option value="d16v3">D16 v3: 16 vCPU(s), 64 GB RAM, 400 GB Temporary storage, $1.672/hour
                          </option>
                          <option value="d32v3">D32 v3: 32 vCPU(s), 128 GB RAM, 800 GB Temporary storage, $3.344/hour
                          </option>
                          <option value="d48v3">D48 v3: 48 vCPU(s), 192 GB RAM, 1200 GB Temporary storage, $5.016/hour
                          </option>
                          <option value="d64v3">D64 v3: 64 vCPU(s), 256 GB RAM, 1600 GB Temporary storage, $6.688/hour
                          </option>
                          <option value="d2sv3">D2s v3: 2 vCPU(s), 8 GB RAM, 16 GB Temporary storage, $0.209/hour
                          </option>
                          <option value="d4sv3">D4s v3: 4 vCPU(s), 16 GB RAM, 32 GB Temporary storage, $0.418/hour
                          </option>
                          <option value="d8sv3">D8s v3: 8 vCPU(s), 32 GB RAM, 64 GB Temporary storage, $0.836/hour
                          </option>
                          <option value="d16sv3">D16s v3: 16 vCPU(s), 64 GB RAM, 128 GB Temporary storage, $1.672/hour
                          </option>
                          <option value="d32sv3">D32s v3: 32 vCPU(s), 128 GB RAM, 256 GB Temporary storage, $3.344/hour
                          </option>
                          <option value="d48sv3">D48s v3: 48 vCPU(s), 192 GB RAM, 384 GB Temporary storage, $5.016/hour
                          </option>
                          <option value="d64sv3">D64s v3: 64 vCPU(s), 256 GB RAM, 512 GB Temporary storage, $6.688/hour
                          </option>
                          <option value="e2v3">E2 v3: 2 vCPU(s), 16 GB RAM, 50 GB Temporary storage, $0.24/hour</option>
                          <option value="e4v3">E4 v3: 4 vCPU(s), 32 GB RAM, 100 GB Temporary storage, $0.48/hour
                          </option>
                          <option value="e8v3">E8 v3: 8 vCPU(s), 64 GB RAM, 200 GB Temporary storage, $0.928/hour
                          </option>
                        </select>
                      </div>
                      <div class="search-box  col-md-2">
                        <label>Virtual Machines</label>
                        <input class="form-control" type="number" min="1" max="10">
                      </div>
                      <div class="search-box col-md-4">
                        <label>Tier</label>
                        <select name="model" class="form-control">
                          <option value="">Basic</option>
                          <option value="asia-pacific-east">Standard</option>
                          <option value="asia-pacific-east">Dedicated</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="product-buttons" *ngIf="!productsService?.catalogMode">
                    <a [routerLink]="" (click)="addToCart(product, counter)" class="btn btn-solid"
                      [class.disabled]="counter > product.stock">add to cart</a>
                    <a [routerLink]="" (click)="buyNow(product, counter)" class="btn btn-solid"
                      [class.disabled]="counter > product.stock">buy now</a>
                  </div>
                  <div class="border-product">
                    <h6 class="product-title">product details</h6>
                    <p>{{product.shortDetails}}</p>
                  </div>
                  <!-- <div class="border-product">
                    <h6 class="product-title">share it</h6>
                    <div class="product-icon">
                      <ul class="product-social">
                        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://plus.google.com/discover"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                      </ul>
                      <form class="d-inline-block" *ngIf="!productsService?.catalogMode">
                        <button class="wishlist-btn" (click)="addToWishlist(product)"><i class="fa fa-heart"></i><span class="title-font">Add To WishList</span></button>
                      </form>
                    </div>
                  </div> -->
                  <!-- <div class="border-product" *ngIf="!productsService?.catalogMode">
                    <h6 class="product-title">Time Reminder</h6>
                    <div class="timer">
                      <p id="timer">
                        <span>25
            <span class="padding-l">:</span>
                        <span class="timer-cal">Days</span>
                        </span>
                        <span>22
            <span class="padding-l">:</span>
                        <span class="timer-cal">Hrs</span>
                        </span>
                        <span>13
            <span class="padding-l">:</span>
                        <span class="timer-cal">Min</span>
                        </span>
                        <span>57
            <span class="timer-cal">Sec</span>
                        </span>
                      </p>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <!-- <section class="tab-product m-0">
            <div class="row">
              <div class="col-sm-12 col-lg-12">
                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="top-home-tab" data-toggle="tab" href="#top-home" role="tab" aria-selected="true">
                <i class="icofont icofont-ui-home"></i>Description</a>
                    <div class="material-border"></div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-top-tab" data-toggle="tab" href="#top-profile" role="tab" aria-selected="false"><i class="icofont icofont-man-in-glasses"></i>Details</a>
                    <div class="material-border"></div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="contact-top-tab" data-toggle="tab" href="#top-contact" role="tab" aria-selected="false">
                    <i class="icofont icofont-contacts"></i>Video</a>
                    <div class="material-border"></div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="review-top-tab" data-toggle="tab" href="#top-review" role="tab" aria-selected="false">
                        <i class="icofont icofont-contacts"></i>Write Review</a>
                    <div class="material-border"></div>
                  </li>
                </ul>
                <div class="tab-content nav-material" id="top-tabContent">
                  <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
                    <p>{{product.description}}</p>
                  </div>
                  <div class="tab-pane fade" id="top-profile" role="tabpanel" aria-labelledby="profile-top-tab">
                    <p>{{product.shortDetails}}</p>
                    <div class="single-product-tables">
                      <table>
                        <tbody>
                          <tr>
                            <td>Febric</td>
                            <td>Chiffon</td>
                          </tr>
                          <tr>
                            <td>Color</td>
                            <td>Red</td>
                          </tr>
                          <tr>
                            <td>Material</td>
                            <td>Crepe printed</td>
                          </tr>
                        </tbody>
                      </table>
                      <table>
                        <tbody>
                          <tr>
                            <td>Length</td>
                            <td>50 Inches</td>
                          </tr>
                          <tr>
                            <td>Size</td>
                            <td>S, M, L .XXL</td>
                          </tr>
                        </tbody>
                      </table> 
                    </div>
                  </div>
                  <div class="tab-pane fade" id="top-contact" role="tabpanel" aria-labelledby="contact-top-tab">
                    <div class="mt-3 text-center">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/BUWzX78Ye_8" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="top-review" role="tabpanel" aria-labelledby="review-top-tab">
                    <form class="theme-form">
                      <div class="form-row">
                        <div class="col-md-12 ">
                          <div class="media">
                            <label>Rating</label>
                            <div class="media-body ml-3">
                              <div class="rating three-star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" id="name" placeholder="Enter Your name" required>
                        </div>
                        <div class="col-md-6">
                          <label for="email">Email</label>
                          <input type="text" class="form-control" id="email" placeholder="Email" required>
                        </div>
                        <div class="col-md-12">
                          <label for="review">Review Title</label>
                          <input type="text" class="form-control" id="review" placeholder="Enter your Review Subjects" required>
                        </div>
                        <div class="col-md-12">
                          <label for="review">Review Title</label>
                          <textarea class="form-control" placeholder="Wrire Your Testimonial Here" id="exampleFormControlTextarea1" rows="6"></textarea>
                        </div>
                        <div class="col-md-12">
                          <button class="btn btn-solid" type="submit">Submit YOur Review</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section ends -->
<!-- Modal size chart -->
<!-- <div class="modal fade" id="sizemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ product.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/images/size-chart.jpg" alt="" class="img-fluid">
       </div>
      </div>
    </div>
  </div> -->