<!-- home section -->
<section class="col p-0">
  <div class="top-header" id="header-stick" (scroll)="onWindowScroll($event);">
    <div class="logo pl-2">
      <a class="navbar-brand" href="#">
        <img src="assets/images/favicon.png" alt="logo"></a>
    </div>
    <div class="main-menu mx-auto" id="nav">
      <nav id="navbar-example2" class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#scroll-spy"
          aria-controls="scroll-spy" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="scroll-spy">
          <ul class="navbar-nav mx-auto nav">
            <li class="nav-item active">
              <a class="nav-link" href="demo#img-bg">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="demo#feature">Featuress</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="demo#frontend">frontend</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="demo#admin">admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="demo#special">special feature</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="demo#inside">insides</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="demo#core">core feature</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="demo#footer">footer</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div>
      <form target="_blank" class="form-inline my-lg-0"
        action="https://themeforest.net/item/multikart-responsive-angular-ecommerce-template/22905358">
        <button class="btn my-sm-0 purchase-btn">PURCHASE</button>
      </form>
    </div>
  </div>
</section>
<!-- home section -->
<!--home section start-->
<section class="main-img responsive-img  pt-0" id="img-bg">
  <div class="container-fluid">
    <div class="main-contain">
      <div>
        <h1 class="m-0">MULTI<span>KART</span></h1>
        <h3 class="m-0">The <span>BEST SELLING</span> Minimal Theme</h3>
        <img src="assets/images/landing-page/text.png" alt="" class="img-fluid">
      </div>
    </div>
    <div class="home-decor">
      <div class="decor-1 decor wow zoomIn" id="img-1">
        <img src="assets/images/landing-page/slider/1.png" alt="" class="img-fluid lazyload">
      </div>
      <div class="decor-2 decor wow zoomIn" id="img-2">
        <img src="assets/images/landing-page/slider/5.png" alt="" class=" img-fluid lazyload">
      </div>
      <div class="decor-3 decor wow zoomIn" id="img-3">
        <img src="assets/images/landing-page/slider/2.png" alt="" class=" img-fluid lazyload">
      </div>
      <div class="decor-4 decor wow zoomIn" id="img-4">
        <img src="assets/images/landing-page/slider/4.png" alt="" class=" img-fluid lazyload">
      </div>
      <div class="decor-5 decor wow zoomIn" id="img-5">
        <img src="assets/images/landing-page/slider/3.png" alt="" class=" img-fluid lazyload">
      </div>
      <div class="decor-6 decor wow zoomIn" id="img-6">
        <img src="assets/images/landing-page/slider/6.png" alt="" class=" img-fluid lazyload">
      </div>
      <div class="decor-7 decor wow zoomIn" id="img-7">
        <img src="assets/images/landing-page/slider/11.png" alt="" class=" img-fluid lazyload">
      </div>
      <div class="decor-8 decor wow zoomIn" id="img-8">
        <img src="assets/images/landing-page/slider/7.png" alt="" class=" img-fluid lazyload">
      </div>
      <div class="decor-9 decor wow zoomIn" id="img-9">
        <img src="assets/images/landing-page/slider/8.png" alt="" class=" img-fluid lazyload">
      </div>
      <div class="decor-10 decor wow zoomIn" id="img-10">
        <img src="assets/images/landing-page/slider/10.png" alt="" class=" img-fluid lazyload">
      </div>
      <div class="decor-11 decor wow zoomIn" id="img-11">
        <img src="assets/images/landing-page/slider/9.png" alt="" class=" img-fluid lazyload">
      </div>
    </div>
  </div>
</section>
<!--home section end-->

<!--feature section start-->
<section id="feature" class="section-lr section-b-space feature-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="feature text-center">
          <div>
            <h5 class="title-landing">Reasones to Buy Multikart</h5>
            <p class="pb-3">Multikart HTML template is an apparently simple but highly functional tempalate
              designed for
              creating
              a flourisahing online business.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row feature_row">
      <div class="col-xl-3 col-md-6 ">
        <div class="feature-box">
          <div class="feature-image">
            <img class="img-fluid lazyload" src="assets/images/landing-page/main-features/demo.png" alt="img">
          </div>
          <div class="feature-content">
            <ul class="color-varient">
              <li class="red"></li>
              <li class="orange"></li>
              <li class="green"></li>
            </ul>
            <h6>Frontend Template</h6>
          </div>
          <p class="para">Multikart is a clean and morfern responsive template.it will perfectly suit for any type of
            online store</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 ">
        <div class="feature-box">
          <div class="feature-image">
            <img class="img-fluid lazyload" src="assets/images/landing-page/main-features/dashboard.png" alt="img">
          </div>
          <div class="feature-content">
            <ul class="color-varient">
              <li class="red"></li>
              <li class="orange"></li>
              <li class="green"></li>
            </ul>
            <h6>Admin Template</h6>
          </div>
          <p class="para">Multikart has powerful backend admin panel to manage products, sales, discount coupons,
            orders, user, vendor and much more.</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 ">
        <div class="feature-box">
          <div class="feature-image">
            <img class="img-fluid lazyload" src="assets/images/landing-page/main-features/email.png" alt="img">
          </div>
          <div class="feature-content">
            <ul class="color-varient">
              <li class="red"></li>
              <li class="orange"></li>
              <li class="green"></li>
            </ul>
            <h6>Email Template</h6>
          </div>
          <p class="para">Multikart comes with 4 email template which include two order success template & two email
            template</p>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 ">
        <div class="feature-box">
          <div class="feature-image">
            <img class="img-fluid lazyload" src="assets/images/landing-page/main-features/portfoio.png" alt="img">
          </div>
          <div class="feature-content">
            <ul class="color-varient">
              <li class="red"></li>
              <li class="orange"></li>
              <li class="green"></li>
            </ul>
            <h6>portfolio pages</h6>
          </div>
          <p class="para">Multikart provides multiple portfolio pages which includes 3 grid view & 4 masonary view.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--feature section end-->

<!--effect section start-->
<section class="pt-0 effect-cls" >
  <div class="demo-slider">
    <div class="demo">
      <div class="right-part">
        <div>
          <h4>14+ FRONT-END DEMO</h4>
          <h5 class="font-style">just for you</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<!--effect section end-->
<!-- Product page section -->
<section id="frontend" class="section-lr section-b-space main-demo">
  <div class="container-fluid">
    <ngb-tabset class="tab-coupon">
      <ngb-tab title="Home">
        <ng-template ngbTabContent>
          <div id="tab-1" class="tab-content current">
            <div>
              <div class="row">
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/one" target="_blank">
                    <img src="assets/images/landing-page/special-features/1.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>Fashion</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/ten" target="_blank">
                    <img src="assets/images/landing-page/special-features/8.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>Pets</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/eleven" target="_blank">
                    <img src="assets/images/landing-page/special-features/9.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>Left Sidebar</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/thirteen" target="_blank">
                    <img src="assets/images/landing-page/special-features/2.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>Man Fashion</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/twelve" target="_blank">
                    <img src="assets/images/landing-page/special-features/4.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>Gym</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/fourteen" target="_blank">
                    <img src="assets/images/landing-page/special-features/6.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>Marijuana</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/nine" target="_blank">
                    <img src="assets/images/landing-page/special-features/26.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>Electronics</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/two" target="_blank">
                    <img src="assets/images/landing-page/special-features/12.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>Fashion</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/three" target="_blank">
                    <img src="assets/images/landing-page/special-features/9.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>Feshion</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/four" target="_blank">
                    <img src="assets/images/landing-page/special-features/19.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>Vegetable</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/five" target="_blank">
                    <img src="assets/images/landing-page/special-features/15.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>Watch</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/six" target="_blank">
                    <img src="assets/images/landing-page/special-features/30.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>Shose</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/seven" target="_blank">
                    <img src="assets/images/landing-page/special-features/17.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>Flowers</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/eight" target="_blank">
                    <img src="assets/images/landing-page/special-features/20.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>Beauty</h3>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Product
          <ng-template ngbTabContent>
            <div>
              <div class="row">
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/col-left/product/1" target="_blank">
                    <img src="assets/images/landing-page/special-features/product/1.jpg" class="img-fluid lazyload">
                    <h3>3 col left</h3>
                  </a>

                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/col-right/product/1" target="_blank">
                    <img src="assets/images/landing-page/special-features/product/2.jpg" class="img-fluid lazyload">
                    <h3>3 col right</h3>
                  </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/column/product/1" target="_blank">
                    <img src="assets/images/landing-page/special-features/product/3.jpg" class="img-fluid lazyload">
                    <h3>3 column</h3>
                  </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/accordian/product/1" target="_blank">
                    <img src="assets/images/landing-page/special-features/product/4.jpg" class="img-fluid lazyload">
                    <h3>accordian</h3>
                  </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/left-image/product/1" target="_blank">
                    <img src="assets/images/landing-page/special-features/product/5.jpg" class="img-fluid lazyload">
                    <h3>left image</h3>
                  </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/left-sidebar/product/1" target="_blank">
                    <img src="assets/images/landing-page/special-features/product/6.jpg" class="img-fluid lazyload">
                    <h3>left sidebar</h3>
                  </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/no-sidebar/product/1" target="_blank">
                    <img src="assets/images/landing-page/special-features/product/7.jpg" class="img-fluid lazyload">
                    <h3>no sidebar</h3>
                  </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/right-image/product/1" target="_blank">
                    <img src="assets/images/landing-page/special-features/product/8.jpg" class="img-fluid lazyload">
                    <h3>right image</h3>
                  </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/right-sidebar/product/1" target="_blank">
                    <img src="assets/images/landing-page/special-features/product/9.jpg" class="img-fluid lazyload">
                    <h3>right sidebar</h3>
                  </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/vertical/product/1" target="_blank">
                    <img src="assets/images/landing-page/special-features/product/11.jpg" class="img-fluid lazyload">
                    <h3>vertical tab</h3>
                  </a>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Shop
          <ng-template ngbTabContent>
            <div>
              <div class="row">
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="javascript:void(0)" target="_blank">
                    <img src="assets/images/landing-page/special-features/shop/6.jpg" class="img-fluid lazyload">
                    <h3>metro <span class="badge badge-danger">New</span></h3>
                  </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="javascript:void(0)" target="_blank">
                    <img src="assets/images/landing-page/special-features/shop/1.jpg" class="img-fluid lazyload">
                    <h3>left sidebar</h3>
                  </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="javascript:void(0)" target="_blank">
                    <img src="assets/images/landing-page/special-features/shop/2.jpg" class="img-fluid lazyload">
                    <h3>no sidebar</h3>
                  </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="javascript:void(0)" target="_blank">
                    <img src="assets/images/landing-page/special-features/shop/3.jpg" class="img-fluid lazyload">
                    <h3>right sidebar</h3>
                  </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="javascript:void(0)" target="_blank">
                    <img src="assets/images/landing-page/special-features/shop/4.jpg" class="img-fluid lazyload">
                    <h3>sidebar popup</h3>
                  </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="javascript:void(0)" target="_blank">
                    <img src="assets/images/landing-page/special-features/shop/5.jpg" class="img-fluid lazyload">
                    <h3>infinite scroll</h3>
                  </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="javascript:void(0)" target="_blank">
                    <img src="assets/images/landing-page/special-features/shop/7.jpg" class="img-fluid lazyload">
                    <h3>3 grid</h3>
                  </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="javascript:void(0)" target="_blank">
                    <img src="assets/images/landing-page/special-features/shop/8.jpg" class="img-fluid lazyload">
                    <h3>6 grid</h3>
                  </a>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="javascript:void(0)" target="_blank">
                    <img src="assets/images/landing-page/special-features/shop/9.jpg" class="img-fluid lazyload">
                    <h3>list view</h3>
                  </a>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Other
          <ng-template ngbTabContent>
            <div>
              <div class="row">
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="front-end/wishlist.html" target="_blank">
                    <img src="assets/images/landing-page/special-features/other/1.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>wishlist</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="front-end/cart.html" target="_blank">
                    <img src="assets/images/landing-page/special-features/other/2.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>cart</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="front-end/dashboard.html" target="_blank">
                    <img src="assets/images/landing-page/special-features/other/3.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>dashboard</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="front-end/login.html" target="_blank">
                    <img src="assets/images/landing-page/special-features/other/4.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>login</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="front-end/register.html" target="_blank">
                    <img src="assets/images/landing-page/special-features/other/5.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>register</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="front-end/contact.html" target="_blank">
                    <img src="assets/images/landing-page/special-features/other/6.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>contact us</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="front-end/forget_pwd.html" target="_blank">
                    <img src="assets/images/landing-page/special-features/other/7.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>forget password</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="front-end/checkout.html" target="_blank">
                    <img src="assets/images/landing-page/special-features/other/9.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>checkout</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="front-end/about-page.html" target="_blank">
                    <img src="assets/images/landing-page/special-features/other/10.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>about us</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="front-end/search.html" target="_blank">
                    <img src="assets/images/landing-page/special-features/other/11.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>search</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="front-end/collection.html" target="_blank">
                    <img src="assets/images/landing-page/special-features/other/17.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>collection</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="front-end/lookbook.html" target="_blank">
                    <img src="assets/images/landing-page/special-features/other/18.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>lookbook</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="front-end/404.html" target="_blank">
                    <img src="assets/images/landing-page/special-features/other/20.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>404</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="front-end/faq.html" target="_blank">
                    <img src="assets/images/landing-page/special-features/other/22.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>FAQ</h3>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>Blog
          <ng-template ngbTabContent>
            <div>
              <div class="row">
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="front-end/blog-details.html" target="_blank">
                    <img src="assets/images/landing-page/special-features/blog/2.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>no sidebar</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="home/left-sidebar/collection/men" target="_blank">
                    <img src="assets/images/landing-page/special-features/blog/3.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>left sidebar</h3>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 demo-box">
                  <a href="front-end/blog(right-sidebar).html" target="_blank">
                    <img src="assets/images/landing-page/special-features/blog/4.jpg" class="img-fluid lazyload">
                  </a>
                  <h3>right sidebar</h3>
                </div>
              </div>
            </div>
          </ng-template>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</section>

<!-- admin section -->
<section class="demo-section pt-0 section-b-space" id="admin">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="admin-title text-center">
          <h4>E-Commerce Admin Template</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-sm-6 col-12 demo-box">
        <a href="/multikart-admin/dashboard/default" target="_blank">
          <img src="assets/images/landing-page/admin/1.jpg" class="img-fluid lazyload">
        </a>
        <h3>dashboard</h3>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 demo-box">
        <a href="/multikart-admin/products/physical/product-list" target="_blank">
          <img src="assets/images/landing-page/admin/2.jpg" class="img-fluid lazyload">
        </a>
        <h3>product list</h3>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 demo-box">
        <a href="/multikart-admin/reports" target="_blank">
          <img src="assets/images/landing-page/admin/3.jpg" class="img-fluid lazyload">
        </a>
        <h3>report page</h3>
      </div>
      <div class="col-xl-3 col-sm-6 col-12 demo-box">
        <a href="/multikart-admin/media" target="_blank">
          <img src="assets/images/landing-page/admin/4.jpg" class="img-fluid lazyload">
        </a>
        <h3>media page</h3>
      </div>
    </div>

  </div>
</section>

<!--special feature section start-->
<section id="special" class="special-feature section-lr section-b-space">
  <div class="container-fluid feature_row">
    <div class="row">
      <div class="col-12">
        <div class="feature text-center">
          <div>
            <h5 class="title-landing">Our special-features</h5>
            <p class="pb-3">Multikart HTML template is an apparently simple but highly functional tempalate
              designed for
              creating
              a flourisahing online business.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row feature-sec">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="feature-box">
          <div class="feature-content">
            <ul class="color-varient">
              <li class="red"></li>
              <li class="orange"></li>
              <li class="green"></li>
            </ul>
            <h6>Attractive lookbook</h6>
          </div>
          <div class="feature-image">
            <img class="img-fluid lazyload w-100" src="assets/images/landing-page/special-features/lookbook.png"
              alt="img">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="feature-box">
          <div class="feature-content">
            <ul class="color-varient">
              <li class="red"></li>
              <li class="orange"></li>
              <li class="green"></li>
            </ul>
            <h6>Product zoom</h6>
          </div>
          <div class="feature-image">
            <img class="img-fluid lazyload w-100" src="assets/images/landing-page/special-features/product-Zoom.png"
              alt="img">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="feature-box">
          <div class="feature-content">
            <ul class="color-varient">
              <li class="red"></li>
              <li class="orange"></li>
              <li class="green"></li>
            </ul>
            <h6>Facebook Chat</h6>
          </div>
          <div class="feature-image">
            <img class="img-fluid lazyload w-100" src="assets/images/landing-page/special-features/facebook-chat.png"
              alt="img">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="feature-box">
          <div class="feature-content">
            <ul class="color-varient">
              <li class="red"></li>
              <li class="orange"></li>
              <li class="green"></li>
            </ul>
            <h6>Color Option</h6>
          </div>
          <div class="feature-image">
            <img class="img-fluid lazyload w-100" src="assets/images/landing-page/special-features/color-option.png"
              alt="img">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="feature-box">
          <div class="feature-content">
            <ul class="color-varient">
              <li class="red"></li>
              <li class="orange"></li>
              <li class="green"></li>
            </ul>
            <h6>Mobile Optimized</h6>
          </div>
          <div class="feature-image">
            <img class="img-fluid lazyload w-100" src="assets/images/landing-page/special-features/mobile-optimize.png"
              alt="img">
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-12">
        <div class="feature-box">
          <div class="feature-content">
            <ul class="color-varient">
              <li class="red"></li>
              <li class="orange"></li>
              <li class="green"></li>
            </ul>
            <h6>Countdown</h6>
          </div>
          <div class="feature-image">
            <img class="img-fluid lazyload w-100" src="assets/images/landing-page/special-features/countdown.png"
              alt="img">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--popup section start-->
<section id="inside" class="popups section-b-space" >
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="feature text-center">
          <div>
            <h5 class="title-landing">Popups types</h5>
            <p class="pb-3">Multikart has one newsletter popup, exit popup, age varification popup & add to cart popup.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="">
          <img class="img-fluid lazyload" src="assets/images/landing-page/popup type/popup.png" alt="img">
        </div>
      </div>
    </div>
  </div>
</section>
<!--popup section end-->


<!--email template section start-->
<section class="section-b-space email-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 left-part">
        <img src="assets/images/landing-page/email%20template/1.jpg" alt="" class="img-fluid lazyload email-img">
        <div class="sticker">
          <img src="assets/images/landing-page/email%20template/sticker.png" alt="" class="img-fluid lazyload">
        </div>
      </div>
      <div class="col-md-4 offset-md-1 text-center center-part">
        <h5 class="title-landing">email template</h5>
        <p class="pb-3">Multikart come with 4+ email template which include two order success template & two email
          template </p>
        <img src="assets/images/landing-page/email%20template/2.jpg" alt=""
          class="img-fluid lazyload email-img full-img">
        <div class="res-img">
          <img src="assets/images/landing-page/email%20template/1.png" alt="" class="img-fluid lazyload ">
        </div>
      </div>
      <div class="col-md-3 offset-md-1 right-part">
        <img src="assets/images/landing-page/email%20template/3.jpg" alt="" class="img-fluid lazyload email-img">
      </div>
    </div>
  </div>
</section>
<!--email template section end-->


<!--core feature section start-->
<section id="core" class="main-feature section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="heading-title">
          <h5 class="title-landing">Core Features</h5>
          <p class="pb-3">And there is many more features.. </p>
        </div>
      </div>
    </div>
    <div class="row key-feature">
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image">
                <img src="assets/images/landing-page/icon/7.png" alt="fetures">
              </div>
            </div>
            <h5>Angular</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image">
                <img src="assets/images/landing-page/icon/1.png" alt="fetures">
              </div>
            </div>
            <h5>Html5</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image">
                <img src="assets/images/landing-page/icon/2.png" alt="fetures">
              </div>
            </div>
            <h5>Css3</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image">
                <img src="assets/images/landing-page/icon/3.png" alt="fetures">
              </div>
            </div>
            <h5>Bootstrap</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image">
                <img src="assets/images/landing-page/icon/4.png" alt="fetures">
              </div>
            </div>
            <h5>Sass</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image">
                <img src="assets/images/landing-page/icon/5.png" alt="fetures">
              </div>
            </div>
            <h5>W3 Validate</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image">
                <img src="assets/images/landing-page/icon/6.png" alt="fetures">
              </div>
            </div>
            <h5>Many more color filters</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image">
                <img src="assets/images/landing-page/icon/8.png" alt="fetures">
              </div>
            </div>
            <h5>Product Zoom</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image">
                <img src="assets/images/landing-page/icon/9.png" alt="fetures">
              </div>
            </div>
            <h5>Multilevel Menu</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image">
                <img src="assets/images/landing-page/icon/10.png" alt="fetures">
              </div>
            </div>
            <h5>Ngx Infinite Loader</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image">
                <img src="assets/images/landing-page/icon/11.png" alt="fetures">
              </div>
            </div>
            <h5>Product-time reminder</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image">
                <img src="assets/images/landing-page/icon/12.png" alt="fetures">
              </div>
            </div>
            <h5>Instagram Api</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image">
                <img src="assets/images/landing-page/icon/13.png" alt="fetures">
              </div>
            </div>
            <h5>Full-width Layout</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image">
                <img src="assets/images/landing-page/icon/14.png" alt="fetures">
              </div>
            </div>
            <h5>Lookbook</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image">
                <img src="assets/images/landing-page/icon/15.png" alt="fetures">
              </div>
            </div>
            <h5>Product Compare</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image">
                <img src="assets/images/landing-page/icon/16.png" alt="fetures">
              </div>
            </div>
            <h5>Google fonts</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image">
                <img src="assets/images/landing-page/icon/17.png" alt="fetures">
              </div>
            </div>
            <h5>Ngx Paypal</h5>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-md-3 col-6">
        <div class="theme-collection">
          <div>
            <div class="image-contain">
              <div class="set-image">
                <img src="assets/images/landing-page/icon/18.png" alt="fetures">
              </div>
            </div>
            <h5>Stripe.js</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--core feature section end-->


<!--footer section start-->
<section id="footer" class="section-b-space grey-bg footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="footer-section">
          <div>
            <ul class="rate-section">
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><i class="fa fa-star" aria-hidden="true"></i></li>
            </ul>
            <h2>purchase the multikart <br>
              & create beautiful online store</h2>
            <a target="_blank"
              href="https://themeforest.net/item/multikart-responsive-ecommerce-html-template/22809967?s_rank=3"
              class="btn btn-primary footer-btn">purchase now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--footer section end-->