.validation-error {
    padding: 5px 10px;
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #f2dede;
    border-color: #ebccd1;
    font-size: 12px;
    border-radius: 0px 0px 3px 3px;
  }