.productIcon {
   // background-image: url("../../../assets/images/icon/producticons/virtualmachine.png");
    background-repeat: no-repeat;
    height: 25px;
    display: block;
    /* Other styles here */
}